<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.wetalk.mapper.FriendMapper">
    <select id="getGroupsByUserAccount" resultType="com.ty.wetalk.model.Group">
        select * FROM `groups` WHERE creatorId = #{userAccount}
    </select>
    <select id="getFriendsByGroupId" resultType="com.ty.wetalk.model.User">
        SELECT
            *
        FROM
            `user`
        WHERE
            account IN
            (SELECT friends_of_groups.friendId FROM friends_of_groups WHERE groupId = #{gropId})
    </select>
    <!--按照用户名称或者id查询用户-->
    <select id="searchFriend" resultType="com.ty.wetalk.model.SearchUser.SearchUsersSetRow">
        <if test="currentUserAccount!=null">
            SELECT * from
            (SELECT * FROM `user` WHERE `user`.account like CONCAT('%',#{kw},'%') OR `user`.nickName like
            CONCAT('%',#{kw},'%') OR `user`.address like CONCAT('%',#{kw},'%')) a
            LEFT OUTER JOIN
            (
            SELECT * FROM friend
            WHERE friend.activeUserId = #{currentUserAccount} and
            friend.passiveUserId
            in (SELECT `user`.account FROM `user` WHERE `user`.account like CONCAT('%',#{kw},'%') OR `user`.nickName
            like CONCAT('%',#{kw},'%') OR `user`.address like CONCAT('%',#{kw},'%'))
            OR
            friend.passiveUserId = #{currentUserAccount} and
            friend.activeUserId
            in (SELECT `user`.account FROM `user` WHERE `user`.account like CONCAT('%',#{kw},'%') OR `user`.nickName
            like CONCAT('%',#{kw},'%') OR `user`.address like CONCAT('%',#{kw},'%'))
            ) b
            ON (a.account = b.activeUserId or a.account = b.passiveUserId)
        </if>
        <if test="currentUserAccount==null">
            SELECT * FROM `user` WHERE `user`.account like CONCAT('%',#{kw},'%') OR `user`.nickName like
            CONCAT('%',#{kw},'%')
        </if>
    </select>
    <!--发起添加好有的请求-->
    <insert id="addFriend">
        INSERT INTO  friend (activeUserId,passiveUserId,addTime) VALUES(#{activeUserId},#{passiveUserId},#{addTime})
    </insert>

    <!-- 同意添加好友，为好友表添加同意日期的字段-->
    <update id="agreeAddFriend">
        UPDATE friend set agreeTime = #{agreeTime} WHERE activeUserId = #{activeUserId} and passiveUserId =#{passiveUserId};
    </update>
    <!--  获取好友之前所在分组id-->
    <select id="getOldGroupId" resultType="java.lang.Integer">
        	SELECT a.groupId FROM
                (
                    friends_of_groups a
                    LEFT JOIN
                    `groups` b
                    ON a.groupId = b.groupId
                ) WHERE friendId = #{friendId} AND creatorId = #{creatorId}
    </select>
    <!--移动好友到好友分组（情况一：新加的好友，直接插入数据）-->
    <update id="addFriendToGroup">
        INSERT INTO friends_of_groups (friendid,groupId,addTime) VALUES(#{userAccount},#{groupId},#{addTime})
    </update>

    <!--移动好友到好友分组（情况二：已经添加的好友，更新好友分组的字段数据）-->
    <update id="removeFriendToGroup">
        UPDATE friends_of_groups SET groupId=#{newGroupId}, addTime = #{addTime} WHERE groupId = #{oldGroupId} and friendId=#{targetUserAccount}
    </update>

    <!--检查是否好友关系-->
    <select id="checkFriend" resultType="com.ty.wetalk.model.Friend">
        SELECT * FROM friend WHERE (activeUserId = #{activeUserAccount} and passiveUserId = #{passiveUserAccount}) OR (activeUserId = #{passiveUserAccount} and passiveUserId = #{activeUserAccount})
    </select>
</mapper>
