<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.wetalk.mapper.GroupMapper">
    <select id="getUsersByGroupId" resultType="com.ty.wetalk.model.User">
        select  * from `friendGroup` where groupAccount = #{groupAccount}
    </select>

    <update id="creatGroup">
        INSERT INTO `groups` (creatorId,friendGroupName,creatTime) VALUES(#{userAccount},#{groupName},#{creatTime})
    </update>

    <select id="getGroupIdByUserAccountAndGroupName" resultType="java.lang.Integer">
        SELECT groupId FROM `groups` WHERE creatorId = #{userAccount} AND friendGroupName=#{groupName}
    </select>
</mapper>
